@font-face { 
  font-family: Rez;
  src: url(../fonts/REZ.ttf);
}
input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 20px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #fcdc3c;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 7px;
  background: #70bf83;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #fcdc3c;
}
input[type=range]::-ms-fill-lower {
  background: #fcdc3c;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #fcdc3c;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]:focus::-ms-fill-lower {
  background: #fcdc3c;
}
input[type=range]:focus::-ms-fill-upper {
  background: #fcdc3c;
}
body {
	height: 100%;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.preview {
border:3px solid #ccc;
width: 250px;
height: 250px
}



/* || animations */

@keyframes appear {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes disappear {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.appear {
  animation: appear 1s 0.5s both;
}

.disappear {
  animation: disappear 1s forwards;
}

/* || webkit-prefixed versions of animation rules for Chrome(/Safari too?) */

@-webkit-keyframes appear {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes disappear {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.appear {
  -webkit-animation: appear 1s 0.5s both;
}

.disappear {
  -webkit-animation: disappear 1s forwards;
}


article {
  display: block;
  }
	  
html, body {
  margin: 0;
  padding: 0;
}
	  
html {
  background: white;
  font-family: 'helvetica neue', sans-serif;
  font-size: 10px;
}
	  
#wrapper {
  background-color: white;
  width: 500px;
	min-height: 800px;
		padding: 15px 15px;
		margin: 10px auto;
		position: relative;
		-webkit-box-shadow: 5px 5px 38px -2px rgba(0,0,0,0.55);
		-moz-box-shadow: 5px 5px 38px -2px rgba(0,0,0,0.55);
		box-shadow: 5px 5px 38px -2px rgba(0,0,0,0.55);
}
	  
	  
#wrapper div {
	width: 480px;
  position:absolute;
  padding: 1rem;
  bottom: 0;
  left: 0;
  right: 0;
}

#preview {
	height: 350px;
	top: 120px;
	text-align: center; 
	z-index: 1;
}

#description {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	position: absolute;
	left: 50%;
	margin-left: -250px;
	top: 350px;
	width: 500px;
	height: 200px;
	padding-top: 0px;
	padding-right: 0px;
	z-index: 1;
}

#description p {
	margin: 0px 20px 0px 20px;
	text-align: left;
}

	  
#wrapper #score {
	top: 30%;
  height: 250px;
	width: 100%;
  background-color: rgba(255,255,255,1);
  border-radius: 7px;
  box-shadow: 5px 5px 10px black,
              inset 5px 5px 20px rgba(255,255,255,0.8);
}

/* || typography */

h1 {
	font-family: Rez;
	letter-spacing: 3px;
  color: #70bf83;
  font-size: 5rem;
  text-align: right;
	margin-bottom: 3px;
}


#description h1 {
	font-family:'Lato', sans-serif;
  text-align: left;
	margin-left: 10px;
	margin-bottom: 0px;
  font-size: 4rem;
  padding: 12rem 0 0 1rem;
}

#score {
	z-index: 2;
}

#score h1 {
	font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 3.5rem;
  padding: 12rem 0 0 1rem;
	margin-top: -50px;
}

/* || buttons */
	  
#prices, div button {
  width: 15em;
}

#prices {
  height: 2.2rem;
  transform: translateY(1px);
  text-align: center;
  margin-right: 1rem;
}


button, div button {
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
	height: 35px;
	width: 130px;
  background: #a8e05e;
  padding: 5px 20px 8px 20px;
  border: solid #70bf83 2px;
  text-decoration: none;
}

button, div button:hover {
  background: #fcdc3c;
  text-decoration: none;
}

@media all and (max-width: 500px) {
  #wrapper {
    width: 100%;
    min-width: 320px;
  }

  
  div div button, select {
    display: block;
    margin: 0.4rem auto;
    width: 60%;
  }
}
